*.pyc
*.pyo
.idea
bin/*
data/*
include/*
lib/*
local/*
log/*
pid/*
static/*
tmp/*
!bin/placeholder
!data/placeholder
!include/placeholder
!lib/placeholder
!local/placeholder
!log/placeholder
!pid/placeholder
!static/placeholder
!tmp/placeholder
